/* .p-datatable-table .p-button-label {
  font-size: 10px !important;
} */
.p-button-label {
  font-size: 13px !important;
}

/* .p-datatable-wrapper .p-button {
  margin-right: 2px;
  width: 15px !important;
  height: 15px !important;
  padding: 8px !important;
} */

.p-button:focus {
  outline: none !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

/* .p-button-warning{
  color: white !important;
  background-color: var(--color-main) !important;
} */

.p-tooltip-text {
  font-size: 12px !important;
  font-weight: 100 !important;
}

.p-splitbutton-menubutton {
  @apply !rounded-[3px];
}
.p-splitbutton-defaultbutton {
  @apply !hidden;
}
